/* Variables */
:root {
    --primary-color: #8c55b0;
    --black-color: #190633;
    --white-color: #eadaf7;
    --third-color: #53227b;
    --font-size-h1: 72px;
    --font-size-h2: 64px;
    --font-size-h3: 32px;
    --font-size-p: 24px;
    --font-size-p-sm: 20px;
}

/* estilos básicos */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--black-color); 
    color: var(--white-color);
}

/* Contenedores */
.main-container {
    display: flex;
    height: 100vh;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100vh;
    width: 50%;
}

.right-container {
    background-image: url("https://imgur.com/Ii8obhW.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: var(--black-color);
    margin-top: -8px;
    display: flex;
    justify-content: center;
    max-height: 100vh;
    width: 50%;
}

/* Menus */
nav {
    width: 80%;
    height: 100px;
    margin-top: 8px;
    display: flex;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: var(--black-color);
}

nav ul a:hover {
    cursor: pointer;
    color: var(--white-color);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

#logo {
    max-width: 100px;
    max-height: 100px;
    margin-left: 16px;
}

#boton-menu-responsive {
    max-width: 50px;
    max-height: 50px;
    background-color: var(--black-color);
    border: none;
    display: none;
}

#boton-menu-responsive img {
    max-width: 100%;
    max-height: 100%;
}

/* Texto de bienvenida */

#texto-landing {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.texto-landing p, h1, h2{
    text-align: center;
}

.texto-landing p{
    font-size: var(--font-size-p);
    padding: 0px 16px;
}

.texto-landing h1{
    font-size: var(--font-size-h1);
}

.texto-landing h2{
    font-size: var(--font-size-h2);
}

.botones-landing {
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
}

.boton {
    margin: 8px;
    width: 240px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--primary-color);
    color: var(--black-color);
    font-size: var(--font-size-p);
    box-shadow: 3px 3px 6px var(--third-color);
    border: none;
}

.boton:hover {
    cursor: pointer;
    box-shadow: inset 3px 3px 6px var(--third-color);
}

/* Media queries para diseño responsive */

@media (max-width: 1000px){
    :root {
        --font-size-h1: 56px;
        --font-size-h2: 40px;
        --font-size-h3: 24px;
        --font-size-p: 16px;
        --font-size-p-sm: 12px;
    }

    .main-container {
        flex-direction: column;
    }

    .left-container {
        width: 100%;
        height: 100vh;   
    }

    .right-container {
        display: none;
    }

    #boton-menu-responsive {
        display: inline;
    }

    .menu-resposive {
        background-color: var(--primary-color);
        color: var(--black-color);
    }

    .dropdown-item:hover {
        background-color: var(--white-color)
    }

}

@media (max-width: 600px){
    .botones-landing {
        flex-direction: column;
        align-items: center;
    }
}
